@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  background-color: hsl(212, 45%, 89%);
  text-align: center;
  font-family: "Outfit", sans-serif;
  margin: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-bottom: 200px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.qr-holder {
  width: 320px;
  height: 499px;
  background-color: white;
  padding-top: 16px;
  margin: 64px auto 0px auto;
  border-radius: 20px;
  box-shadow: 5px 7px 10px rgb(200, 200, 200);
}
.qr-holder-text {
  padding: 0rem 1rem;
  margin: 0rem 1rem;
}
.qr-holder-text h2 {
  font-size: 22px;
  font-weight: 700;
  color: hsl(218, 44%, 22%);
  margin: 22px 0px 16px 0px;
}
.qr-holder-text p {
  font-size: 15px;
  color: hsl(216, 15%, 48%);
  font-weight: 400;
}

.qr-holder img {
  width: 288px;
  height: auto;
  border-radius: 10px;
  /* padding: 0; */
  /* margin: 0; */
}

footer {
  margin-top: 32px;
}
